In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("data.csv")  #loading the dataset

In [3]:
df.head()

,Unnamed: 0,ID,Gene,Variation,Class,Text
0,0,0,FAM58A,Truncating Mutations,1,Cyclin-dependent kinases (CDKs) regulate a var...
1,1,1,CBL,W802*,2,Abstract Background Non-small cell lung canc...
2,2,2,CBL,Q249E,2,Abstract Background Non-small cell lung canc...
3,3,3,CBL,N454D,3,Recent evidence has demonstrated that acquired...
4,4,4,CBL,L399V,4,Oncogenic mutations in the monomeric Casitas B...

In [4]:
gene = df['Gene'].unique()

In [5]:
gene

array(['FAM58A', 'CBL', 'SHOC2', 'TERT', 'DICER1', 'PTPRT', 'RHEB',
       'SHQ1', 'CCND2', 'RAD50', 'CCND3', 'RIT1', 'CCNE1', 'RYBP',
       'TGFBR1', 'TGFBR2', 'MSH6', 'KMT2D', 'LATS1', 'PBRM1', 'SF3B1',
       'LATS2', 'EGFR', 'NKX2-1', 'EIF1AX', 'ARID2', 'BRD4', 'HIST1H1C',
       'ERRFI1', 'CHEK2', 'PAK1', 'TMPRSS2', 'H3F3A', 'ELF3', 'ROS1',
       'ASXL2', 'CDH1', 'EPCAM', 'EP300', 'EPAS1', 'TP53', 'TP53BP1',
       'SMAD2', 'SMAD3', 'SMAD4', 'CDK4', 'AURKB', 'CDK6', 'FBXW7',
       'CDK8', 'CDKN1A', 'CDKN1B', 'CDKN2A', 'CDKN2B', 'CDKN2C', 'ASXL1',
       'ERBB2', 'ERBB3', 'ERBB4', 'ERCC2', 'BRIP1', 'ERCC3', 'ERCC4',
       'ABL1', 'CEBPA', 'ERG', 'HLA-A', 'HLA-B', 'PDGFRA', 'PDGFRB',
       'RBM10', 'KDM5C', 'ESR1', 'ETV1', 'ETV6', 'TSC1', 'IKZF1', 'TSC2',
       'EWSR1', 'ACVR1', 'FOXA1', 'MDM2', 'ARID1A', 'EZH2', 'MDM4',
       'KLF4', 'RXRA', 'MAP3K1', 'AXIN1', 'BAP1', 'MEN1', 'FANCA',
       'FANCC', 'MET', 'U2AF1', 'KMT2C', 'FAT1', 'ARID1B', 'PIK3CA',
       'PIK3CB', 'PIM1', 'PIK3CD', 'YAP1', 'PIK3R1', 'PIK3R2', 'ARID5B',
       'HRAS', 'MLH1', 'FGF3', 'FGF4', 'KMT2A', 'AKT1', 'AKT2', 'FGFR1',
       'FGFR3', 'SPOP', 'FGFR2', 'FGFR4', 'KDM6A', 'ALK', 'SDHB',
       'RAD54L', 'SDHC', 'VEGFA', 'MPL', 'PMS1', 'CARM1', 'FOXO1', 'VHL',
       'MAP2K4', 'RRAS2', 'FLT1', 'FLT3', 'PMS2', 'SRSF2', 'WHSC1',
       'PPM1D', 'POLE', 'KNSTRN', 'PIK3R3', 'APC', 'RICTOR', 'MSH2',
       'IDH1', 'IDH2', 'XPO1', 'XRCC2', 'CREBBP', 'AR', 'ARAF', 'RHOA',
       'NCOR1', 'PPP2R1A', 'SETD2', 'IGF1R', 'PPP6C', 'CTCF', 'IKBKE',
       'MTOR', 'TET1', 'SMARCA4', 'SMARCB1', 'FOXP1', 'SMO', 'CARD11',
       'MEF2B', 'CTLA4', 'ATM', 'NUP93', 'MAPK1', 'CTNNB1', 'MAP2K1',
       'MAP2K2', 'STAG2', 'IL7R', 'SOS1', 'MYC', 'MYCN', 'SOX9', 'TET2',
       'MYD88', 'AGO2', 'KMT2B', 'ATR', 'ATRX', 'CDK12', 'AXL', 'MYOD1',
       'B2M', 'SRC', 'GATA3', 'BARD1', 'CCND1', 'BCL2', 'KEAP1', 'PTCH1',
       'PTEN', 'BCOR', 'RNF43', 'CIC', 'INPP4B', 'STAT3', 'WHSC1L1',
       'PRDM1', 'JAK1', 'JAK2', 'AURKA', 'STK11', 'JUN', 'PTPN11', 'NF1',
       'FOXL2', 'PTPRD', 'BRCA1', 'BRAF', 'BRCA2', 'NF2', 'PAX8',
       'NFE2L2', 'GLI1', 'FUBP1', 'BTK', 'NFKBIA', 'GNA11', 'KDR',
       'BCL10', 'GNAQ', 'GNAS', 'MGA', 'KIT', 'FGF19', 'MED12', 'NOTCH1',
       'NOTCH2', 'RAC1', 'DNMT3A', 'DNMT3B', 'RAD21', 'RAD51C', 'RAD51B',
       'RAD51D', 'KRAS', 'NPM1', 'RAF1', 'RAB35', 'HNF1A', 'AKT3', 'TCF3',
       'TCF7L2', 'RARA', 'NRAS', 'RASA1', 'BCL2L11', 'RB1', 'KDM5A',
       'NTRK1', 'NTRK2', 'NTRK3', 'DUSP4', 'DDR2', 'NSD1', 'CASP8', 'RET',
       'RUNX1'], dtype=object)

In [6]:
variation = df['Variation'].unique()

In [7]:
variation

array(['Truncating Mutations', 'W802*', 'Q249E', ..., 'A122*', 'R80C',
       'K83E'], dtype=object)

In [8]:
df[df['Gene']== 'RUNX1']

,Unnamed: 0,ID,Gene,Variation,Class,Text
3297,3297,3297,RUNX1,R177*,4,THE AML1 GENE IS KNOWN as the most frequent ta...
3298,3298,3298,RUNX1,Y113*,4,Introduction Myelodysplastic syndromes (MDS) ...
3299,3299,3299,RUNX1,R139G,4,The BCR-ABL fusion protein generated by t(9;22...
3300,3300,3300,RUNX1,K83N,4,The most frequent mutations associated with le...
3301,3301,3301,RUNX1,R177Q,4,The most frequent mutations associated with le...
3302,3302,3302,RUNX1,R166Q,4,Familial platelet disorder with predisposition...
3303,3303,3303,RUNX1,P173S,4,Introduction Myelodysplastic syndromes (MDS) ...
3304,3304,3304,RUNX1,R201Q,4,Familial platelet disorder with predisposition...
3305,3305,3305,RUNX1,S70fsX93,4,Introduction Myelodysplastic syndromes (MDS) ...
3306,3306,3306,RUNX1,W279*,1,Here we report two new RUNX1 mutations in one ...
3307,3307,3307,RUNX1,Truncating Mutations,1,The RUNX genes have come to prominence recentl...
3308,3308,3308,RUNX1,R174*,7,Familial platelet disorder with propensity to...
3309,3309,3309,RUNX1,D171G,1,The BCR-ABL fusion protein generated by t(9;22...
3310,3310,3310,RUNX1,Amplification,7,RUNX proteins belong to a family of metazoan t...
3311,3311,3311,RUNX1,RUNX1-EVI1 Fusion,4,The AML1/EVI-1 chimeric gene is generated by t...
3312,3312,3312,RUNX1,TEL-RUNX1 Fusion,4,Balanced chromosomal translocations are freque...
3313,3313,3313,RUNX1,H78Q,4,The BCR-ABL fusion protein generated by t(9;22...
3314,3314,3314,RUNX1,G42R,6,Introduction Myelodysplastic syndromes (MDS) ...
3315,3315,3315,RUNX1,RUNX1-RUNX1T1 Fusion,4,The RUNX gene family includes three evolutiona...
3316,3316,3316,RUNX1,D171N,4,Introduction Myelodysplastic syndromes (MDS) ...
3317,3317,3317,RUNX1,A122*,1,Introduction Myelodysplastic syndromes (MDS) ...
3318,3318,3318,RUNX1,Fusions,1,The Runt-related transcription factor 1 gene (...
3319,3319,3319,RUNX1,R80C,4,The RUNX1/AML1 gene is the most frequent targe...
3320,3320,3320,RUNX1,K83E,4,The most frequent mutations associated with le...

In [9]:
!pip install pymongo

Collecting pymongo

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

  Downloading pymongo-4.6.0-cp39-cp39-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl.metadata (4.9 kB)
Downloading pymongo-4.6.0-cp39-cp39-win_amd64.whl (472 kB)
   ---------------------------------------- 472.7/472.7 kB 9.8 MB/s eta 0:00:00
Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
   ---------------------------------------- 300.4/300.4 kB 9.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.0

In [10]:
import pymongo

In [11]:
import pymongo


# Connect to MongoDB (assuming it's running on default localhost:27017)
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Create or use a specific database
my_db = client["my_database"]

# Create or use separate collections for Gene and Variation data
gene_collection = my_db["genes"]
variation_collection = my_db["variations"]

# Insert Gene data into the gene_collection
gene_data_to_insert = [{"Gene": g} for g in gene]
gene_insert_result = gene_collection.insert_many(gene_data_to_insert)

# Insert Variation data into the variation_collection
variation_data_to_insert = [{"Variation": v} for v in variation]
variation_insert_result = variation_collection.insert_many(variation_data_to_insert)

# Check insertion results for Gene and Variation collections
if gene_insert_result:
    print("Gene data inserted successfully.")
else:
    print("Failed to insert Gene data.")

if variation_insert_result:
    print("Variation data inserted successfully.")
else:
    print("Failed to insert Variation data.")

Gene data inserted successfully.
Variation data inserted successfully.